body{
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #525960;
}

/*TOP BAR HEADER*/
.top-bar{
    background: #2eb82e;
    height: 2.8rem;
    padding: .5rem 0;
    color: white;
    text-decoration: none;
    box-shadow: 0 .5rem .5rem rgba(24, 156, 53, 0.5);
}
/*NAVIGATION*/
.navbar-brand img{
    height: 3rem;
}
.navbar{
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgba(24, 156, 53, 0.5);
}
.nav-item{
    padding: .5rem;
}
.nav-link{
    color: #ffff33!important;
}
.nav-link.active,
.nav-link:hover{
    color: #00cccc!important;
}
/*CAROUSEL*/
/*Change CAROUSEL Transition Speed*/
/*Carousel Content*/
/*Fixed BACKGROUND IMG*/
/*FOOTER*/
/*SOCKET*/
/*MEDIA QUERIES*/
@media (max-width: 119.98px){

}
@media (max-width: 767.98px){

}
/*BOOTSTRAP Break Points
Extra small 

Small
@media (min-width: 576px){
    
}
Medium
@media (min-width: 768px){

}
Large
@media (min-width: 992px){

}
Extra
@media (min-width: 1200px){
    
}
*/
/*BOOTSTRAP MOBILE GUTTER FIX*/
.row, .container-fluid {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
/*Fixed Background Image*/
.fixed-background{
    position: relative;
    width: 100%;
    z-index: 1000!important;
}
.fixed-wrap{
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
}
.fixed{
    z-index: -999 !important;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

